
.page {
  padding: 16px;
}

.header {
  padding: 16px 0;
  text-align: center;
}

.details {
  text-align: left;
}

.subsLabel {
  color: var(--text_secondary); /* Предполагаем переменную для вторичного цвета текста */
}

.body {
  /* Дополнительные стили для тела экрана, если нужны */
}
