
.page {
  padding: 16px;
}

.header {
  text-align: center;
  padding-bottom: 16px; /* Добавим немного отступа снизу для заголовка */
}

.body {
  margin-top: 24px;
}

.actions {
  margin-top: 16px;
}
